# server config file used to setup and run mysqld via ENV variable MYSQL_HOME
# bind mount on Docker run or edit

# default to utf8mb4 for character set and collation
[client]
default-character-set=utf8mb4
[mysql]
default-character-set=utf8mb4
[mysqld]
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4
